<% include ./partials/header %>

    <div class="mainTitle">
        <h1 class="text-center">Welcome CRUD hockey team</h1>
    </div>
    <div class="container">
        <div class="pa4">
            <h1 class="h1TeamMangager">Hockey Team Manager</h1>
            <hr>
            <a class="grow dib f3-ns no-underline bg-blue black-90 pa1" href="/newpost">Add New Player</a>
            <div class="overflow-auto">
            <table class="f6 w-100 mw8 center" cellspacing="0">
                <thead>
                <tr class="stripe-dark">
                    <th class="fw6 tl pa3 bg-white">Name</th>
                    <th class="fw6 tl pa3 bg-white">Jersey Number</th>
                    <th class="fw6 tl pa3 bg-white">Position</th>
                    <th class="fw6 tl pa3 bg-white">Active?</th>
                    <th class="fw6 tl pa3 bg-white">Actions</th>
                </tr>
                </thead>
                <tbody class="lh-copy">
                    <% users.forEach(function (user){ %>
                        <tr class="stripe-dark">
                            <td class="pa3"><%= user.name %></td>
                            <td class="pa3"><%= user.jersey %></td>
                            <td class="pa3"><%= user.position %></td>
                            <td class="pa3"><%= user.active %></td>
                            <td class="pa3">
                                <a href='<%= user._id %>/edit'>Edit</a> 
                                <form action="/<%= user._id %>?_method=DELETE" method="POST">
                                    <input type='submit' value="Delete"> 
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            </div>
        </div>
    </div>
<% include ./partials/footer %>